<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-5">
      <h1 class="title">KGH New Digest</h1>
    </div>

    <hr>


    <div class="container">
        <div class="jumbotron jumbo-weather">
            <h3 class="weather-title">Weather at Global Hub</h3>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="current">Current Weather:</h4>
                    <h5>
                        <%= @forecast["current"]["weather"][0]["main"] %>
                    </h5>
                    <h5>
                        <%= @forecast["current"]["temp"] %> <sup>o</sup>C
                    </h5>
                </div>
                <div class="col-sm-3">
                    <% if @forecast["current"]["weather"][0]["main"] == "Clear" %>
                        <img src="http://openweathermap.org/img/wn/01d@2x.png">
                    <% elsif @forecast["current"]["weather"][0]["main"] == "Rain" %>
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    <% elsif @forecast["current"]["weather"][0]["main"] == "Clouds" %>
                        <img src="http://openweathermap.org/img/wn/02d@2x.png">
                    <% elsif @forecast["current"]["weather"][0]["main"] == "Snow" %>
                        <img src="http://openweathermap.org/img/wn/13d@2x.png">
                    <% elsif @forecast["current"]["weather"][0]["main"] == "Drizzle" %>
                        <img src="http://openweathermap.org/img/wn/09d@2x.png">
                    <% elsif @forecast["current"]["weather"][0]["main"] == "Thunderstorm" %>
                        <img src="http://openweathermap.org/img/wn/11d@2x.png">
                    <% else %>
                        <img src="http://openweathermap.org/img/wn/50d@2x.png">
                    <% end %>
                </div>
            </div>
            <hr class="my-4">
            <h4>7 Day Weather Forecast</h4>
            <div class="row weather-forecast">
                <% for day in @forecast["daily"] %>
                    <div class="col-sm-1.8">
                        <h5><%= day["weather"][0]["main"] %></h5>
                        <% if day["weather"][0]["main"] == "Clear" %>
                            <img src="http://openweathermap.org/img/wn/01d@2x.png">
                        <% elsif day["weather"][0]["main"] == "Rain" %>
                            <img src="http://openweathermap.org/img/wn/10d@2x.png">
                        <% elsif day["weather"][0]["main"] == "Clouds" %>
                            <img src="http://openweathermap.org/img/wn/02d@2x.png">
                        <% elsif day["weather"][0]["main"] == "Snow" %>
                            <img src="http://openweathermap.org/img/wn/13d@2x.png">
                        <% elsif day["weather"][0]["main"] == "Drizzle" %>
                            <img src="http://openweathermap.org/img/wn/09d@2x.png">
                        <% elsif day["weather"][0]["main"] == "Thunderstorm" %>
                            <img src="http://openweathermap.org/img/wn/11d@2x.png">
                        <% else %>
                            <img src="http://openweathermap.org/img/wn/50d@2x.png">
                        <% end %>
                        <p><strong><%= day["temp"]["max"] %> <sup>o</sup>C</strong></p>
                        <p><%= day["temp"]["min"] %> <sup>o</sup>C</p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="container mt-5">
      <h2 class="title">Headlines</h2>
    </div>

    <div class="container mt-5">
        <div class="row">
            <% for news in @news["articles"] %>
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="width: 18rem;">
                        <img src="<%= news["urlToImage"] %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= news["title"] %></h5>
                            <p class="card-text"><%= news["content"] %></p>
                            <a href="<%= news["url"] %>" class="btn btn-primary card-btn">Read More</a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>  


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>